body { 
	background: url("images/chicago.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h2 {
	font-size: 70px;
	color: #fff;
	font: solid bold;
	font-family: 'Oleo Script Swash Caps', cursive;
}

/* Rules for screen widths at 768px or lower */
@media screen and (max-width: 768px) {

    body {
        background-color: #333;
    }

    .wrapper {
        width: 600px;
    }
}

@media screen and (max-width: 634px) {

	body {
    background-color: #ffffff ;
	}

	.wrapper {
   		width:515;
	}	
		
body {
	background: #ccc;
	font-size: 13px;
	line-height: 20px;
}
.wrapper {
	width: 600px;
	margin: 20px auto;
}

footer {

}

