body { 
	border-radius: 10px;
	padding-top: 20px;
	background-image: url("images/chicago.jpg");
    background-size: 120%
}

h2 {
	font-size: 70px;
	color: #fff;
	font: solid bold;
	font-family: 'Oleo Script Swash Caps', cursive;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    color: red; /*Change rollover cell color here*/
}




