*{
    font-family: "Merriweather", "Open Sans", serif, sans-serif;
}
html, body {
    height: 100%;
}
body { 
    background: url("../images/chicago.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#map{
    height: 600px;
    width: 1000px;
    frameborder: 0;
    border:0;
}
h2 {
    font-size: 70px;
    color: #A7CFE3;
    /*color: #fff;*/
    font: solid bold;
    font-family: 'Oleo Script Swash Caps', cursive;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#usersName{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: black;
}
#lastUser{
    font-weight: bold;
    font-size: 18px;
    
}
#mission {
    font-size: 30px;
    /*color: #fff;*/
    border: black;
    font: solid bold;
    font-family: 'Oleo Script Swash Caps', cursive;
    text-align: center;
    padding: 25px 50px 0 525px ;
    height: 600px;
    frameborder: 0;
    border: 0;
    /*color: #3498DB;*/
    color: #A7CFE3;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#foursquareResults{
    color: white;
}
.foursqSearch{
    background: #4B56AA; 
    background: -webkit-linear-gradient(left top, #4B56AA, #02CC8F); 
    background: -o-linear-gradient(bottom right, #4B56AA, #02CC8F); 
    background: -moz-linear-gradient(bottom right, #4B56AA, #02CC8F); 
    background: linear-gradient(to bottom right, #4B56AA, #02CC8F);
}
.foursqSearch a{
    color:white;
}
/* Rules for screen widths at 768px or lower */
@media screen and (max-width: 768px) {

    body {
        background-color: #333;
    }

    .container {
        width: ;

    }

    .wrapper {
        width: 1280px;
    }
}

@media screen and (max-width: 634px) {

    body {
    background-color: #ffffff ;
    }

    .wrapper {
        width:960;
    }   
        
@media screen and (max-width: 480px) {

    body {
    background-color: #ffffff ;
    }

    .wrapper {
        width:800;
    }   
